---
layout: default
---
<!-- <div class="container">
			<div class="grid-full float-center"> -->
			<!-- 	<a href="http://transelemental.com" class="wrapper"><span class="text">Transelemental</span><img src="/img/main/pot4.jpg"></a>
			{% for post in site.posts %}
				 {% if post.category == "art" %}
				 <a href="{{ post.url }}" class="wrapper"><span class="text">{{post.title}}</span><img src="{{ post.image }}"></a>
					{% endif %}
				{% endfor %} -->
				<a href="http://telestellar.com"><img src="/img/main/telebook.png"></a>
				<a href="http://transelemental.com"><img src="/img/main/pot4.jpg"></a>
			{% for post in site.posts %}
				 {% if post.category == "art" %}
				 <a href="{{ post.url }}"><img src="{{ post.image }}"></a>
					{% endif %}
				{% endfor %}
			
			</div>
</div>

