---
layout: default
---
<div class ="tableDown">

	<div class="grid-two-thirds float-center">
		<div class="row">
			<div class="grid-img">
				 <p><a href="http://transelemental.com"><img src="/img/transelementalMain.png"></a></p>
				</div>
			{% for post in site.posts %}
				 {% if post.category == "art" %}

				 <div class="grid-img">
				 <p><a href="{{ post.url }}"><img src="{{ post.image }}"></a></p>
				 </div>
					{% endif %}
				{% endfor %}
			</div>
	</div>
</div>

<div class ="tableDown">
<div class="grid-fourth float-center">
	More
</div>
</div>