---
layout: default
active: index
---

<!-- <iframe class="videos" src="//player.vimeo.com/video/94027010?title=0&amp;autoplay=1&amp;loop=1;width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><div id="alone"><p>Al<sub>2</sub>O<sub>3</sub>Ne</p></div> -->


<!-- <div class = "row">

	<div class="col-xs-6 col-md-4 grid"><a href="http://zealouspress.com" target="_blank"><img src="/img/ZPPINKSMIG.jpg"></a></div>

  {% for post in site.posts %}
     {% if post.category == "artII" %}

       <div class="col-xs-6 col-md-4 grid"><a href="{{ post.url }}"><img src="{{ post.image }}"></a></div>

      {% endif %}
    {% endfor %}

</div>
<br> -->

<div id="mainImg">
	<img src="../../img/drawings/synergy.jpg">

</div>
