---
layout: projects/page
title: Paintings
---
<p>If you would like to commission work, or buy originals or prints, please <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=kaylalewis322@gmail.com&body=my-text">email me</a>.</p>

{% for post in site.posts %}
				 {% if post.category == "paint" %}
					<div class="borders"><a class = "postLink" href="{{ post.url }}"><h3>{{ post.title }}</a></h3><h4>{{post.date | date: '%Y'}}</h4>
							{{ post.content }}</div>
				{% endif %}
{% endfor %}
