<div class="grid-half float-center">

    <footer>
      @2018 <a href="kaylalewis.net" class="three">Kayla Lewis</a>
    </footer>
</div>
    </body>

    <script src="/js/kraken.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- (Via HTML5 Boilerplate: http://html5boilerplate.com/) -->


            <script src='js/smooth/bind-polyfill.js'></script>
    <script src='js/smooth/smooth-scroll.js'></script>
    <script>
        smoothScroll.init({
            speed: 1000,
            easing: 'easeInOutCubic',
            offset: 200,
            updateURL: true,
            callbackBefore: function ( toggle, anchor ) {},
            callbackAfter: function ( toggle, anchor ) {}
        });
    </script>



</html>
