<div class="grid-three-fourths float-center">
<header class="class">{{ page.title }}</header>

<div class="subHeader">
{{ page.info }}
</div>

<div id="htmlNav">
   <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#hi">about</a>
   <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#i">assignments</a>
   <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#am">resources</a>
   <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#kayla">schedule</a>
</div>
