 <div class="grid-three-fourths float-center">
 <header class="class">{{ page.title }}</header>

<div class="subHeader"> 
{{ page.info }} 
</div>

<div id="navigation">
    <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#about">about</a>
    <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#assignments">assignments</a>
    <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#resources">resources</a>
    <a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#schedule">schedule</a>
</div>