h1,h2,h3, h4, h5, nav ul, nav li a, footer, body, .content, sub {

font-family: 'Lato', sans-serif;
color: rgb(240, 240, 240);
font-weight: 300;
	
	}



body{

	font-size: 21px;
	background-color: rgb(64,64,64);
}


h1 {

	font-size: 1.5em;

}

h2{

	font-size: 1.2em;
}



.writingTitle
{

	font-size: 24px;
	
}
.smallOkay{

	display:none;
}

header {



margin-left: 0 auto;
margin-right: 0 auto;
margin-top: -18px;


}



.top{
color: white;
background-color: #202020;
width:100%;
height:57px;


}

.me{
	float:left;
	padding: 20px;
}

.me:hover{

color:#E6005C ;

}

nav {

text-align: center;
float:right;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	padding: 0 20px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			color: #E6005C;
		
		}
			nav ul li:hover a {
				color: #B8B8B8;
			}

		
		nav ul li a {
			display: block; padding-top: 20px; padding-left: 20px; padding-right: 20px;padding-bottom: 5px;
			color: rgb(240, 240, 240); text-decoration: none;
		}
			
		
	nav ul ul {
		background: #202020; border-radius: 0px; padding:0px;
		position: absolute;
		z-index: 15;
	}
		nav ul ul li {
			float: none; 
			
		}
			nav ul ul li a {
				padding-left: 20px;
				padding-top:0px;
				padding-bottom: 5px;
				color: white;
			}	
				nav ul ul li a:hover {
					background: #E6005C;
					opacity:1;
				}
		
.table{

	margin-top: 2%;
	padding-bottom: 20%;
	margin-bottom: 2em;


}


/*things for class */

header.class {
	padding:30px;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	width:100%;
	position:fixed;
	left:0px;
	background-color: rgb(64,64,64);

}

header.classpost {
	padding:30px;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	width:100%;
	left:0px;
	background-color: rgb(64,64,64);

}

.classpost
{

	margin-top: 10px;
}
.classsubtitle {

	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	width:100%;
	left:0px;
	background-color: rgb(64,64,64);
	color:orange;

}

.subHeader {
	padding-bottom: 30px;
	margin-top: 100px;
	text-align: center;
	width:100%;
	left:0px;
	position:fixed;
	text-align: center;
	background-color: rgb(64,64,64);
}



a {

	color: white;
	text-decoration: none;

}

a.two {

	color: orange;
}

a.two:hover {

  text-decoration: none;
  color: rgb(255,204,153);

}

a:hover {

  text-decoration: none;
  color: #8ac1c1;

}

a.notnav {
	text-decoration: none;
	color: #8ac1c1;
}

a.notnav:hover {
text-decoration: none;
color:#6b9696;


}

ul  {

	list-style: none;
}

li{

	list-style: none;
}

/*htmlclass*/


#htmlNav {

position:fixed;
background-color: rgb(64,64,64);
height:35px;
text-align: center;
width:100%;
left:0px;
margin-top: 135px;
margin-bottom: 60px;



}

#htmlNav a {
color: #FFADAD;
font-size:18px;
padding-left:15px;
padding-right:15px;
text-decoration: none;

}

#htmlNav a:hover {

color:#7DDEDE;

}

a.three {

	color:#FFADAD;
}

a.three:hover {

  text-decoration: none;
  color: #7DDEDE;

}

 .coral{
color:#FFADAD;
 }

#hi, #i, #am, #kayla {

	font-size: 1.3em;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color:#7DDEDE ; 
}
/*==========*/


.textPage {

	margin-top: 2%;
	text-align: center;

}

footer {


	margin-top: 100%;
	margin-bottom: 0%;	
	text-align: center;

}

sub
{

	font-weight: normal;
}

#navigation {

position:fixed;
background-color: rgb(64,64,64);
height:35px;
text-align: center;
width:100%;
left:0px;
margin-top: 135px;
margin-bottom: 60px;



}

#navigation a {
color: orange;
font-size:18px;
padding-left:15px;
padding-right:15px;
text-decoration: none;

}

#navigation a:hover {

color:rgb(255,204,153);

}

p {




}

.words {

	font-size: 10px;
}

.pageWithin {

	background-color: white;
	overflow: auto;
	width: 100%;
	height: 500px;
	color: black;
	text-align: left;
	padding:10px;
}

#htmlMessage{

	color:black;
}

#menu-icon {
	margin-top:15px;
	display: hidden;
	width: 40px;
	height: 40px;
	background:  url(../../img/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}


/*hover pics*/

.wrapper {

padding: 0;
width:80%;
height: 80%;
position: relative;
display: block;
}

.text {
    position: absolute;
    top: 0;
    color:#ffffff;
    background-color:#000000;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    text-align: center;
    font-size: 1em;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text:hover {
opacity:.8;

}



img {
    z-index:1;
}



@media only screen and (max-width : 640px) {

	.me {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 10px;
		right: 0px;
		top: 50px;
		width:100%;
		background:#202020;
		z-index: 15;


	}


nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
		z-index: 15;

	}

	nav:hover ul {

		display: block;
		z-index: 15;

	}

	.okay{

		display: none;
	}

	.smallOkay {

		display:block;
	}
/*
.onlyBigNav {

	display:none;
}*/


