h1, h2, h3, h4, h5, nav ul, nav li a, header, footer, body, .content, a:hover, a, sub {

font-family: 'Lato', sans-serif;
font-weight: 300;
color: rgb(240, 240, 240);
font-size: 1em;
	
	}

title {

	text-align: center;
}

h1 {

	font-size: 2em;

}

.writingTitle
{

	font-size: 24px;
	
}

header {

	font-size: 32px;
	margin-top: 50px;
	margin-bottom: 0px;
	text-align: center;
	margin-right: 0px;


}

body {

	background-color: rgb(64,64,64);
}


a {

	color: white;
	text-decoration: none;

}

a:hover {

  text-decoration: underline;
  color: rgb(181,196,209);

}

nav {

	list-style-type: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

nav li {

	
  	display: inline;
	

}

nav a {

	display:inline-block;
	padding: 10px;
}

.tableDown {
margin-top: 100px;

}

.textPage {

	margin-top: 40px;
	text-align: center;

}

footer {


	margin-top: 400px;	
	position: relative;
	text-align: center;
}

sub
{

	font-weight: normal;
}