body {
	color: #484848;
	background-color: #ffffff;
	/*font-family: "Palatino", serif;*/
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
	margin: 15px auto 0 auto;

}

h1 {
	font-size: 28px;
}

h4 {
	margin-top: -20px;
}

h1,h2,h3,h4,h5 {

	padding-bottom: 15px;
}

p, a {

	font-size: 20px;
}

p {

	margin-left: 0px;
}

.grid {

	padding: 10px !important;
	/*margin: 10px !important;*/
}

.grid:hover {

	color: #e6005c;
	opacity: .5
}

img {

	width: 100%
}

a {

	color: #008080;

}

a:hover {
color: #800000;
text-decoration: none;

}

a.postLink {

	font-size: 22px
}

.excerpt {

}

a.postLink:hover {

	color: #800000;
}

a.postExcerpt {

	display: inline;
}

header {

    /*border-bottom: .5px solid #a8a8a8;*/
		margin-bottom: 30px;
		padding-bottom: 15px;

}

nav{

}

nav a {
	font-size: 16px;
	color: #484848;

}

nav a:active {
border-bottom: .5px solid #a8a8a8;

}

#me {

padding-left: 5px;
display: inline;
padding-bottom: 20px

}

nav ul {

	margin-top: 20px;
	display: inline;
	float: right;

}

nav li {
	/*font-family: 'Georgia';*/
	margin-right: 15px;
	display: inline;
	font-weight: normal;
	/*border-bottom: 1px solid green;*/
}

ul {

	list-style-type: none;
}

.inside {

	margin-top: 25px;
}

.aboutText, .aboutImage {

	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 15px;
}

/*.col-md-6 {

	padding-left: 0;
	padding-right: 20px

}*/

sub {

	font-weight: normal;
}

.writing {

	line-height: 200%
}

iframe {

	width: 100%
}

div.borders {

	border-bottom: .5px solid #484848;
	margin-bottom: 40px;

}

div.postImg img {

	margin-top: 10px;
	margin-bottom: 10px;


}

p {

	padding-bottom: 20px;
}


footer {
font-size: 18px;
margin-top: 500px;
margin-bottom: 15px;
padding-top: 25px;
border-top: .5px solid #a8a8a8


}
