---
layout: default
---


  <h1>{{ page.title }}</h1>
  <div class="postImg">

{{ content }}
</div>
<br><br><br><br><br>
<div id = "bottom">

<div class = "row">

  	<div class="col-xs-6 col-md-4 grid"><a href="http://zealous.press" target="_blank"><img src="/img/ZPPINKSMIG.jpg"></a></div>

  {% for post in site.posts %}
     {% if post.category == "artII" %}

       <div class="col-xs-6 col-md-4 grid"><a href="{{ post.url }}"><img src="{{ post.image }}"></a></div>

      {% endif %}
    {% endfor %}

</div>
</div>
